<div class="container">
  <div class="row">
    <div class="row" infiniteScroll (scrolled)="atualizarLista()" [infiniteScrollThrottle]='2800'>
      <div id="app" class="col-md-1" *ngFor="let pokemon of results">
        <div class="pkm-container">
          <div class="pkm-img">
            <img src='https://pokeres.bastionbot.org/images/pokemon/{{pokemon?.id}}.png' alt='{{pokemon?.name}}'>
          </div>

          <h1 class="pkm-name">{{pokemon?.name}} {{pokemon?.id}}</h1>

          <div class="pkm-hp">
            <div class="pkm-hp-bar"></div>
            <div>
              Experiência: <span class="pkm-hp-currrent">
                <strong>{{pokemon?.base_experience}}</strong>
              </span>
            </div>
          </div>

          <div class="pkm-att">
            <div class="pkm-att-type">
              <div class="type"><strong>Tipo</strong></div>
              <div class="value" *ngFor="let tipos of pokemon?.types"><span>{{tipos?.type?.name}}</span></div>
            </div>
            <div class="pkm-att-weight">
              <div class="type"><strong>Peso</strong></div>
              <div class="value">{{pokemon?.weight}}</div>
            </div>
            <div class="pkm-att-height">
              <div class="type"><strong>Altura</strong></div>
              <div class="value">{{pokemon?.height}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
